<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <h1 class="col-12 d-flex justify-content-center">Create a new Campground</h1>
      
        <input class="form-control" type="text"  name="name" placeholder="Name" [(ngModel)]="myName">

        <input class="form-control" type="text" name= 'image' placeholder="Image url" [(ngModel)]="myImageUrl">
      <button class="btn btn-lg btn-info btn-block" (click)='submit()'>Submit!</button>
      <a href="campgrounds">Go back</a>
  </div>
</div>
