<app-navbar></app-navbar>
<div class="container">

  <header class="jumbotron">
    <h1>Welcome to Yelp Camp</h1>
    <p>View our hand picked campgrounds from all over the world</p>
    <p><a routerLink="/campgrounds/new" class="btn btn-info btn-lg">Create a new campground</a></p>
  </header>

  <div class="row">
    <div class="col-lg-12">
      <h3>Our Most Popular Campgrounds!</h3>
    </div>
  </div>

  <div class="row text-center">
    <div *ngFor='let campground of campgroundData' class="col-xl-3 col-lg-4 col-md-6">
      <img src="{{campground.imageUrl}}" class="img-fluid" class="img-thumbnail">  
      <h4>{{campground.name}}</h4>
      <p>
        <a [routerLink]="['/campgrounds', campground._id]" class="btn btn-info">More info</a>
      </p>
    </div>
  </div>
  
</div>